# Week 2 Discussion HW

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
zip_file = ZipFile('../data/raw/forStudents.pkl.zip')
df = pd.read_pickle(zip_file.open('forStudents.pkl'))
df

,acquisition_type,snapshot_type,channel,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_v2,bad_balance,...,rtr5930,rtr7110,rtr7140,rtr7160,rtr7216,rtr7620,rtr8120,rtr8220,rtr8320,rowNumber
0,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-04,202108,1,698.0,0.0,0.0,0.0,...,2.0,4.0,4.0,9.0,5.0,100.0,5.0,5.0,5.0,59486
1,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-01,202103,1,731.0,0.0,0.0,0.0,...,30.0,2.0,2.0,130.0,12.0,100.0,4.0,4.0,4.0,2357
2,ORGANIC,FLOW_MODULARITY,OTHER,2021-02-26,202102,1,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90398
3,ORGANIC,FLOW_MODULARITY,OTHER,2021-06-04,202106,1,715.0,0.0,0.0,0.0,...,249.0,18.0,18.0,56.0,7.0,100.0,5.0,151.0,45.0,104654
4,ORGANIC,FLOW_MODULARITY,OTHER,2021-07-14,202107,1,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48707,ORGANIC,FLOW_MODULARITY,OTHER,2021-05-01,202105,1,732.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,131881
48708,ORGANIC,FLOW_MODULARITY,OTHER,2020-11-29,202011,1,705.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,47197
48709,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-25,202104,1,722.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,2.0,167.0,86.0,29739
48710,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-10,202104,1,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89207
48711,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-05-13,202105,1,634.0,0.0,0.0,0.0,...,60.0,28.0,28.0,15.0,59.0,67.0,12.0,21.0,17.0,50643

## Data Processing

### Discuss with your group what values are missing/special in the dataset

The observations in the dataset that are special and require special processing are those loans that were not approved and those loans that have 'bad' value of -1 becuase we cannot train on any observations that satisfy either of those conditions. We also have to remove any observations where all0000 is NaN because we were instructed to. There are many missing values within the dataset, which exist depending on the column and the observation.

### What missing/special value imputation method are you going to use?

To deal with the special values that are not useful for training the model, we simply dropped those observations. To deal with the missing values, we grouped by income quartile and used mean based imputation within each quartile.

### Write some code to map your missing/special values to a real number value

In [3]:
df_clean = df[df['all0000'].notna()]
df_clean

,acquisition_type,snapshot_type,channel,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_v2,bad_balance,...,rtr5930,rtr7110,rtr7140,rtr7160,rtr7216,rtr7620,rtr8120,rtr8220,rtr8320,rowNumber
0,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-04,202108,1,698.0,0.0,0.0,0.0,...,2.0,4.0,4.0,9.0,5.0,100.0,5.0,5.0,5.0,59486
1,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-01,202103,1,731.0,0.0,0.0,0.0,...,30.0,2.0,2.0,130.0,12.0,100.0,4.0,4.0,4.0,2357
3,ORGANIC,FLOW_MODULARITY,OTHER,2021-06-04,202106,1,715.0,0.0,0.0,0.0,...,249.0,18.0,18.0,56.0,7.0,100.0,5.0,151.0,45.0,104654
5,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-31,202103,1,667.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92100
6,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-14,202108,1,641.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,6.0,81.0,54.0,103437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-21,202104,1,644.0,0.0,0.0,0.0,...,71.0,30.0,30.0,8.0,13.0,100.0,77.0,92.0,83.0,11542
48707,ORGANIC,FLOW_MODULARITY,OTHER,2021-05-01,202105,1,732.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,131881
48708,ORGANIC,FLOW_MODULARITY,OTHER,2020-11-29,202011,1,705.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,47197
48709,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-25,202104,1,722.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,2.0,167.0,86.0,29739
48711,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-05-13,202105,1,634.0,0.0,0.0,0.0,...,60.0,28.0,28.0,15.0,59.0,67.0,12.0,21.0,17.0,50643

In [4]:
df_clean = df_clean[df_clean['bad'] != -1.0]
df_clean

,acquisition_type,snapshot_type,channel,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_v2,bad_balance,...,rtr5930,rtr7110,rtr7140,rtr7160,rtr7216,rtr7620,rtr8120,rtr8220,rtr8320,rowNumber
0,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-04,202108,1,698.0,0.0,0.0,0.0,...,2.0,4.0,4.0,9.0,5.0,100.0,5.0,5.0,5.0,59486
1,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-01,202103,1,731.0,0.0,0.0,0.0,...,30.0,2.0,2.0,130.0,12.0,100.0,4.0,4.0,4.0,2357
3,ORGANIC,FLOW_MODULARITY,OTHER,2021-06-04,202106,1,715.0,0.0,0.0,0.0,...,249.0,18.0,18.0,56.0,7.0,100.0,5.0,151.0,45.0,104654
5,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-31,202103,1,667.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92100
6,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-14,202108,1,641.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,6.0,81.0,54.0,103437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-21,202104,1,644.0,0.0,0.0,0.0,...,71.0,30.0,30.0,8.0,13.0,100.0,77.0,92.0,83.0,11542
48707,ORGANIC,FLOW_MODULARITY,OTHER,2021-05-01,202105,1,732.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,131881
48708,ORGANIC,FLOW_MODULARITY,OTHER,2020-11-29,202011,1,705.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,47197
48709,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-25,202104,1,722.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,2.0,167.0,86.0,29739
48711,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-05-13,202105,1,634.0,0.0,0.0,0.0,...,60.0,28.0,28.0,15.0,59.0,67.0,12.0,21.0,17.0,50643

In [5]:
df_clean = df_clean[df_clean['is_app_approved'] == 1]
df_clean

,acquisition_type,snapshot_type,channel,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_v2,bad_balance,...,rtr5930,rtr7110,rtr7140,rtr7160,rtr7216,rtr7620,rtr8120,rtr8220,rtr8320,rowNumber
0,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-04,202108,1,698.0,0.0,0.0,0.0,...,2.0,4.0,4.0,9.0,5.0,100.0,5.0,5.0,5.0,59486
1,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-01,202103,1,731.0,0.0,0.0,0.0,...,30.0,2.0,2.0,130.0,12.0,100.0,4.0,4.0,4.0,2357
3,ORGANIC,FLOW_MODULARITY,OTHER,2021-06-04,202106,1,715.0,0.0,0.0,0.0,...,249.0,18.0,18.0,56.0,7.0,100.0,5.0,151.0,45.0,104654
5,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-31,202103,1,667.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92100
6,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-14,202108,1,641.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,6.0,81.0,54.0,103437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-21,202104,1,644.0,0.0,0.0,0.0,...,71.0,30.0,30.0,8.0,13.0,100.0,77.0,92.0,83.0,11542
48707,ORGANIC,FLOW_MODULARITY,OTHER,2021-05-01,202105,1,732.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,131881
48708,ORGANIC,FLOW_MODULARITY,OTHER,2020-11-29,202011,1,705.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,47197
48709,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-25,202104,1,722.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,2.0,167.0,86.0,29739
48711,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-05-13,202105,1,634.0,0.0,0.0,0.0,...,60.0,28.0,28.0,15.0,59.0,67.0,12.0,21.0,17.0,50643

In [6]:
df_clean.drop(columns='bad_v2', inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [7]:
described = df_clean["annual_income"].describe()
quartiles = list(described.iloc[4:7])
quartiles

[31000.0, 45000.0, 68000.0]

In [8]:
def assign_quartile(row):
    income = row["annual_income"]
    if income < quartiles[0]:
        return 0
    elif ((quartiles[0] < income) & (quartiles[1] >= income)):
        return 1
    elif ((quartiles[1] < income) & (quartiles[2] >= income)):
        return 2
    else:
        return 3

In [9]:
df_clean.apply(assign_quartile, axis=1).value_counts().sort_index()

0    10625
1    10546
2    10709
3    10667
dtype: int64

In [10]:
df_clean['income_quartile'] = df_clean.apply(assign_quartile, axis=1)

/tmp/ipykernel_331/2494206809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['income_quartile'] = df_clean.apply(assign_quartile, axis=1)

In [11]:
dfs = []
for i in range(4):
    quartile = df_clean.loc[df_clean["income_quartile"] == i]
    dfs.append(quartile.fillna(quartile.mean()))
df_clean = pd.concat(dfs)

/tmp/ipykernel_331/597797125.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dfs.append(quartile.fillna(quartile.mean()))
/tmp/ipykernel_331/597797125.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfs.append(quartile.fillna(quartile.mean()))

In [12]:
temp = df_clean.isna().sum().to_frame()
temp[temp[0] != 0]

             0
all9230  42547
all9240  42547
all9249  42547
all9280  42547
hlc0401  10625
hlc5021  10625
hlc6201  10625

We can drop the colunns all9230, all9240, all9249, and all9280 because they are completely NaN in all loans that were approved. The columns hlc0401, hlc5021, and hlc6201 are all NaN in the income group lower than 30,000. Thus, for those columns in the lowest income group, we will simply use population mean imputation.

In [13]:
df_clean.drop(columns=['all9230', 'all9240', 'all9249', 'all9280'], inplace=True)

In [14]:
df_clean = df_clean.fillna(df_clean.mean())

/tmp/ipykernel_331/1045899936.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_clean = df_clean.fillna(df_clean.mean())
/tmp/ipykernel_331/1045899936.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_clean = df_clean.fillna(df_clean.mean())

In [15]:
df_clean.isna().sum().sum() # no more nulls!

0

In [16]:
df_clean

,acquisition_type,snapshot_type,channel,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_balance,current_balance,...,rtr7110,rtr7140,rtr7160,rtr7216,rtr7620,rtr8120,rtr8220,rtr8320,rowNumber,income_quartile
0,ORGANIC,FLOW_MODULARITY,OTHER,2021-08-04,202108,1,698.0,0.0,0.0,0.00,...,4.000000,4.000000,9.00000,5.000000,100.000000,5.000000,5.00000,5.000000,59486,0
1,ORGANIC,FLOW_MODULARITY,OTHER,2021-03-01,202103,1,731.0,0.0,0.0,30.95,...,2.000000,2.000000,130.00000,12.000000,100.000000,4.000000,4.00000,4.000000,2357,0
11,ORGANIC,FLOW_MODULARITY,OTHER,2020-10-04,202010,1,701.0,0.0,0.0,0.00,...,24.337826,24.325014,73.08046,0.000000,82.870736,24.109003,50.65957,35.888683,127864,0
14,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-08-25,202108,1,655.0,1.0,870.6,870.60,...,24.337826,24.325014,73.08046,17.131756,82.870736,105.000000,105.00000,105.000000,6750,0
17,PRESCREENED,CREDIT_KARMA_LIGHTBOX,CK_LB,2021-05-28,202105,1,665.0,0.0,0.0,784.55,...,24.337826,24.325014,73.08046,17.131756,82.870736,24.109003,50.65957,35.888683,30434,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48692,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-24,202104,1,651.0,0.0,0.0,2593.57,...,0.000000,0.000000,77.69990,0.000000,100.000000,26.000000,26.00000,26.000000,41428,3
48696,ORGANIC,FLOW_MODULARITY,CK_ITA,2021-05-01,202105,1,635.0,0.0,0.0,971.05,...,24.000000,24.000000,48.00000,47.000000,10.000000,1.000000,34.00000,17.000000,98641,3
48700,PRESCREENED,DIRECT_MAIL,DM,2021-02-10,202102,1,628.0,0.0,0.0,0.00,...,27.000000,27.000000,313.00000,14.000000,43.000000,1.000000,242.00000,58.000000,12849,3
48705,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-20,202104,1,642.0,0.0,0.0,0.00,...,25.150167,25.156373,77.69990,0.000000,71.270258,244.000000,244.00000,244.000000,120446,3
48706,ORGANIC,FLOW_MODULARITY,OTHER,2021-04-21,202104,1,644.0,0.0,0.0,0.00,...,30.000000,30.000000,8.00000,13.000000,100.000000,77.000000,92.00000,83.000000,11542,3

## Categorical Variables

### Create a processed dataset that can be used to fit a logistic regression model (All numeric data, no missing values, etc.)

In [17]:
from sklearn.preprocessing import OneHotEncoder

def process_categorical_data(dataset):
    """ One hot encodes all of the categorial columns of the dataset.  Removes the original columns """
    # select categorical data
    categorical_data = dataset.select_dtypes('object')
    
    enc = OneHotEncoder(handle_unknown='ignore')
    
    ohe_data = enc.fit_transform(categorical_data).toarray()
    column_names = enc.get_feature_names(categorical_data.columns)
    
    add = dataset.select_dtypes(exclude='object')
    added = pd.DataFrame(ohe_data,columns=column_names).astype(int)
    
    add.reset_index(drop = True, inplace= True)
    added.reset_index(drop = True, inplace= True)
    X = pd.concat([add, 
               added], axis=1)
    print(X.shape)
    return X

process_categorical_data(df_clean)

# df_clean = process_categorical_data(df_clean)
# df_clean = df_clean[df_clean['evaluation_dt'].notna()]
# df_clean

(42547, 893)

,evaluation_dt,vintage,is_app_approved,vantage3_score,bad,bad_balance,current_balance,net_spend,annual_income,all0000,...,state_code_SD,state_code_TN,state_code_TX,state_code_UT,state_code_VA,state_code_VT,state_code_WA,state_code_WI,state_code_WV,state_code_WY
0,2021-08-04,202108,1,698.0,0.0,0.0,0.00,5.51,15171,10.0,...,0,0,0,0,0,0,0,0,0,0
1,2021-03-01,202103,1,731.0,0.0,0.0,30.95,30.95,20000,3.0,...,0,0,0,0,0,0,0,0,0,0
2,2020-10-04,202010,1,701.0,0.0,0.0,0.00,0.00,7000,6.0,...,0,0,0,0,0,0,0,0,0,0
3,2021-08-25,202108,1,655.0,1.0,870.6,870.60,0.00,18000,3.0,...,0,0,0,0,0,0,0,0,0,0
4,2021-05-28,202105,1,665.0,0.0,0.0,784.55,0.00,30000,6.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42542,2021-04-24,202104,1,651.0,0.0,0.0,2593.57,243.18,125000,12.0,...,0,0,0,0,0,0,0,0,0,0
42543,2021-05-01,202105,1,635.0,0.0,0.0,971.05,971.05,101000,60.0,...,0,0,0,0,0,0,0,0,0,0
42544,2021-02-10,202102,1,628.0,0.0,0.0,0.00,0.00,145000,53.0,...,0,0,0,0,0,0,0,0,0,0
42545,2021-04-20,202104,1,642.0,0.0,0.0,0.00,0.00,72000,7.0,...,0,0,0,0,0,0,1,0,0,0
42546,2021-04-21,202104,1,644.0,0.0,0.0,0.00,0.00,160000,36.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_clean.isna().sum().sum() # no more nulls!

0

In [19]:
335979 / df_clean.size

0.009468411826582639

### Split your dataset into train/test according to a common random seed with your team

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X = df_clean.drop('bad', axis=1)
y = df_clean[['bad']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Brainstorm different methods of sampling (up/down) that you might want to apply when you train your model

There are serveral methods that can address the issues of imbalanced dataset, such as oversampling and doewnsampling. With oversampling, we duplicate the minority group to matcht the number of observations in the majority class. With undersampling we decrease the propotion of the majority class. This would not be ideal because in this case we are losing data. Therefore the oversample would be a better idea. However, classic oversampling is just duplicating the observations. A better of oversampling is to use SMOTE (Synthetic Minority OVersampling Techinique) which use technique of KNN to syntethize data to match the proportion of the majority class.

### Suppose I wanted to offer a new card product to people who lived in CA.  Think of some ways that you would create a sample for that.

We would want to have a sample that is representative of the state of California, but depending on the size of the sample, we may also want to 'manually' make sure that all demographics are represented within our sample. Thus, we must create a stratified random sample, stratifying for characteristics such as income, age, race, gender, region, and other factors. We should consider the intersectionality of minorities within this group, e.g. we want to make sure that our card is as fair for a poor Asian man living in Los Angeles as it is for a wealthy black woman living in Napa.